/* 0075F2=azul letras*/
@font-face{
	font-family: "Source Sans Pro";
	src: url("../fonts/Source_Sans_pro/SourceSansPro-Regular.ttf");
}

@font-face{
	font-family: "Raleway";
	src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

body{
	background: #DBDBDB;
}
header{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	position: fixed;
	visibility:visible;
  z-index: 999;
  background: #062A39;
  color: white;
  height: 76px;
}
.empresa-nombre{
	margin-left: 3%;
}

.primero, .segundo{
	font-family: 'Source Sans Pro', sans-serif;

}


.links{
	display: flex;
	
	padding: 0px 10px 0px ;
	text-align: center;
	
}

header ul li{
	display: flex;
	justify-content: space-between;
	padding: 0px 15px;
	
	

}

header ul li a{
	font-size: 1.5em;
	text-decoration: none;
	color: white;

}
section{
	height: 380px;
	padding-top: 0;
	margin-top: 0;
}

article{
		
	display: inline-block;
	
	width: 25vw;
	background-color: white;
	position: relative;
	transition: .5s;
}

.card{
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.9);
}

.ancho-articulos{
	width: 90%;
	margin: auto;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
}


.absolute-height{
	height: 580px;
	width: 100%;
}

.h1{
	font-family: 'Source Sans Pro';
	font-size: 3em ;
	text-align: center;	
	color: white;
	margin: 0;	
	
}

.img_principal {
	margin: 0;
	padding: 0;
	width: auto;
	/*opacity: 0.4;*/
}

.relative{
	position: relative;
	padding: 0;
}

.alt-header{
	top: 80px;
}

.absolute{
	position: absolute;
}

.alto{
	top: 0;
	margin-top: 300px;
	width: 80%;
	margin-left: 10%;
}

.img_principal .slick-next:before{
	left: -25px;
 	right: 0px !important;
}

.slide{
	height: 500px;
	width: auto;
}

.slider1{
	background-image: url("../imagenes/desarrollo-de-software.jpg");
	background-size: 100% 100%;
}


.slider2{
	background-image: url("../imagenes/desarrollo-frontend.jpeg");
	background-size: 100% 100%;
}

.slider3{
	background-image: url("../imagenes/marketing.jpg");
	background-size: 100% 100%;
}


.logotipo{
	display: inline-block;
}

.sofware h2{
	text-align: center;
	margin:auto;
}	

.diseño_web h2{
	text-align: center;	
	margin:auto;
}

.marquetin h2{
	text-align: center;
	margin:auto;
	
}

.h2{
	font-size: 1.8em;
	font-family: 'Source Sans Pro';
	color: #333333;
	
	
}

.parrafo_logos{
	font-size: 1.3em;
	font-family: 'Raleway';
	text-align: center;
	color: #093A3E;
	font-weight: bold;
}

.logo-container{
	width: 80%;
	margin: auto;
	margin-top: 5%;
}

.logo{
	height: 80px;
	width: 80px;
}

img{
	max-width: 100%;
}

#productos{
	font-size: 2.8em;
	letter-spacing: 5px !important;
	text-align: center;
	font-family: 'Source Sans Pro';
	color: #333333;
	letter-spacing: 1px;
	margin-top: 120px;
	margin-bottom: 50px;
}


.contenedor_logos{
	height: 200px;
	width: 80%;
	padding-top: 0;
	margin-left: 10%;
	
	}

.titulo_logos{
	padding-top: 2%;
	color: #333333;
	font-family: 'Source Sans Pro';
}



h3{
	font-size: 2.8em;
	text-align: center;
}

.contenedor_logos_1{
	height: 430px;
	width: auto;
	position: relative;
	background-color: white;
}

.parrafo_logos_2{
	font-size: 1.6em;
	font-family: 'Raleway';
	position: relative;
	text-align: center;
	color: #093A3E;
	margin-top: 0;
	font-weight: bold;
}


.footer{
	background-color: #0B4F6C;
	display: flex;
	justify-content: space-around;
	padding: 20px;
}
 
.contacto a b{
	color: white;
}

.contacto a span{
	color: white;
}

.contacto a{
	text-decoration: none;
	display: block;
	padding: 5% 0 5% 10%;
}

.conte_contactos a{ 	
	color: white;
	text-decoration: none;
	margin-top: 5%;
	background-color: #062A39	;
	display: flex;
	padding: 5%;
}

.tel2, .direccion2{
	display: flex;
	flex-direction: column;
}

.conte_contactos div{
	margin-left: 10px;
}

.fas, .far {
	color: white;
}

.contacto img {
	display: block;
}




input,textarea{
	border: none ;
	outline: none;
	border-bottom: solid 2px #4E6E5D;
	padding: 10px 0 0 0; 
	margin-top: 5px;
}
textarea{
	width: 100%;
	height: 80px;
	border: solid 2px #4E6E5D;
	padding: 2px 0 0 2px;
}
::-webkit-input-placeholder {
	color:#093A3E;
} 
:-moz-placeholder{
	color:#093A3E;opacity:0.7;
} 
::-moz-placeholder{
	color:#093A3E;opacity:0.7;
} 
:-ms-input-placeholder{
	color:#093A3E;opacity:0.7;
}
.formulario{
	width: 40%;
	color:black;
	margin: 10px 0;
	background: white;	
}
.form{
	width: 80%;
	margin: auto;
}

.campos input{
	width: 100%;

}

.boton{
	border-radius: 30px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: solid 2px white;
	background: #062A39;
	color: white;
	padding: 7px;
}

.Copyright{
	text-align: center;
	margin: 0;
	color:  #CFCECE;
	padding: 20px 0;	
}
.divcopy{
	background-color: #062A39;
}

@media screen and (max-width: 1100px){
	

	header ul li a{
		font-size: 1.2em;
	}
	.parrafo_logos_2{
	margin: 0 5% 0 5%;
	}
	
	
}



@media screen and (max-width: 800px) {
	body{
		width: auto;
	}
	
	.h1{
		font-size: 2.8em
	}
	#productos{
		font-size: 2.6em;
	}
	h3{
		font-size: 2.6em
	}
	.h2{
		font-size: 1.6em;
	}
	.parrafo_logos_2{
		font-size: 1.4em;
	}
	.parrafo_logos{
		font-size: 1.1em;
	}

	header{
		width: 100%;	
	}


	header ul li a{
		font-size: 1em;
	}

	section{
		width: auto;
		
		height: auto;
	}
	article{
		width: 40vw;
	}
	.marquetin{
		margin-top: 20px;
	}
	
	.parrafo_logos{
		top: 45%;
		bottom: 0;
		padding: 0 3% 0 3%;
	}

	#productos{
	margin-top: 120px;
	margin-bottom: 5%;
	}
	
	.footer{
	display: block;
	padding: 7%; 
	}
	.fa-2x {
  	font-size: 1.5em !important; 
  }
  .conte_contactos a div{
  	display: flex;	
  }
 	.conte_contactos a div span{
 		margin-left: 20%;
 	}
  
	.contacto a b{
		color: white;
	}
	.conte_contactos{
		margin-top:0;	
	}
	.conte_contactos a{ 	
	color: white;
	text-decoration: none;
	margin-top: 2%;
	padding: 2%;
	display: block;
	}
	.formulario{
	width: 80%;	
	}
	.tel2, .direccion2{
	display: flex;
	flex-direction: row;
	}
}

@media screen and (max-width: 690px){
	body{
		
		width: auto;
		
	}
	header{
		width: 100%;
	}
	
	section{
		width: auto;
		
		height: auto;
	}
	article{
		width: 60vw;
	}
	.marquetin, .diseño_web{
		margin-top: 20px;
	}
}

@media screen and (max-width: 620px){
	.parrafo_logos_2{
		font-size: 1.2em;
	}
	h3{
		font-size: 2.3em
	}
}

@media screen and (max-width: 600px){

	.formulario{
	color: white;
	display: block;
	}
	
}
@media screen and (max-width: 550px){
	
	header ul li a{
	font-size: 0.8em;
	}	
	.h1{
		font-size: 2.6em
	}
	#productos{
		font-size: 2.4em;
	}
	h3{
		font-size: 2.3em
	}
	.h2{
		font-size: 1.4em;
	}
	.parrafo_logos_2{
		font-size: 1.2em;
	}
	.parrafo_logos{
		font-size: 1.1em;
	}
	.alto{
		margin-top: 200px;
	}

}


	@media screen and (max-width: 500px){
		.slide{
			height: 400px;
		}
		.absolute-height{
			height: 480px;
		}
	}


@media screen and (max-width: 450px){
	body{
		width: auto;	
	}
	

	section{
		width: auto;
		height: auto;
	}

	.h1{
		font-size: 2em
	}
	#productos{
		font-size: 1.8em;
	}
	h3{
		font-size: 1.8em
	}
	.h2{
		font-size: 1.3em;
	}
	.parrafo_logos_2{
		font-size: 1.1em;
	}
	.parrafo_logos{
		font-size: 1.1em;
	}
	.alto{
	margin-top: 200px;
	}
	.logo{
	margin: 30px;
	}
	.formulario{
		width: 100%;
		margin: auto;
		margin-top: 10px;
	}
	
}